h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: monospace;
    border: ;
}

body {
    background-color: #598381;
}

.bold {
    font-weight: bolder;
}

#background-list {
    background-color: darkseagreen;
}

.Importancia1 {
    font-size: larger;
    background-color: honeydew;
    font-weight: bolder;
    font-weight: 900;
}

.Importancia2 {
    font-weight: 600;
    font-size: medium;
    background-color: honeydew;
}

.Importancia3 {
    background-color: honeydew;
    font-size: x-large;
}

#description {
    background-color: khaki;
    float: left;
    margin-top: 120px;
    margin-left: 50px;
    padding: 2px;
    text-align: center;

}

#picture {
    background-color: lightcoral;
    float: left;
    padding: 3px;
    padding-top: 8px;
    align-items: center;
    margin-left: 40px;
    margin-top: 15px;
}

#habilities {
  
}

#name {
    text-align: center;
}

#article {

}

#sections {
   background-color: #496d6b;
   position: fixed;
   vertical-align: bottom;
   align-items: center;
   width: 100%;
   margin-top: 350px;
   padding-left: 40px;
   
}

#link-pic {
    
}