h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: monospace;
    border: ;
}

body {
    background-color: #598381;
}

.bold {
    font-weight: bolder;
}

#background-list {
    background-color: darkseagreen;
}

.Importancia1 {
    font-size: larger;
    background-color: honeydew;
    font-weight: bolder;
    font-weight: 900;
}

.Importancia2 {
    font-weight: 600;
    font-size: medium;
    background-color: honeydew;
}

.Importancia3 {
    background-color: honeydew;
    font-size: x-large;
}

#name {
    text-align: center;
    background-color: teal;
}

#bcg-top {
    background-color: teal;
    padding: 100px; 
    margin: 0 0 -250px 0;
    position: relative;

}

#picture {
    background-color: lightcoral;
    float: left;

}

#description {
    background-color: khaki;
    margin-left: -10px;
    text-align: end;
    width: 50%;

}

#article {
    background-color: #496d6b;

}

#habilities {
    background-color: #496d6b;
    margin-top: 280px;
    text-align: start;
    width: 16%;
}

#sections {
   background-color: #496d6b;
      
}

#link-pic {
    background-color: teal;
}